{
	"root": true,
	"plugins": ["es5", "compat"],
	"extends": [
		"wikimedia/client-es5",
		"wikimedia/jquery",
		"wikimedia/mediawiki"
	],
	"ignorePatterns": ["resources/libraries/", "*.json"],
	"rules": {}
}
