/*! Medik | CC0 license | https://bitbucket.org/wikiskripta/medik */

/* Navbar
   ========================================================================== */

.bg-ws {
  z-index: 1001;
}

/* Navigation
   ========================================================================== */

#mw-navigation nav {
  display: none;
}

.mw-hamb {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  margin-right: 1rem;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.mw-hamb::before,
.mw-hamb::after {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mw-hamb::before {
  background: currentColor;
  box-shadow: 0 -0.3em, 0 0.3em;
  height: .15rem;
  width: 100%;
}

#mw-navbar {
  margin-bottom: 4rem;
}

#p-search {
  width: 92vw;
  position: absolute;
  left: 100%;
  top: calc(100% + 1.5rem);
  margin-left: -92vw;
}

aside {
  padding: 0.5rem 0;
}

/* Main content
   ========================================================================== */

#siteNotice {
  display: none;
}

.mw-editsection,
#toc {
  display: none;
}
