/*! Medik | CC0 license | https://bitbucket.org/wikiskripta/medik */

/* Basic typography
   ========================================================================== */

a.feedlink {
	padding-left: 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

/* Navbar and hamburger menu
   ========================================================================== */

.bg-ws {
	background-color: var( --medik );
}

#mw-navbar-right {
	display: flex;
}

#searchInput {
	max-width: 100%;
}

#user-tools button {
	color: #fff;
}

#p-personal ul,
aside ul {
	margin: 0;
}

#p-personal li,
aside li {
	list-style-type: none;
}

#p-personal li a:not( .dropdown-item ),
aside li a:not( .dropdown-item ),
#p-personal li a:not( .dropdown-item ):hover,
aside li a:not( .dropdown-item ):hover {
	color: #212529;
	display: block;
	text-decoration: none;
	padding: 0.25em 1.5em;
	width: 100%;
}

#p-personal li a:not( .dropdown-item ):hover,
aside li a:not( .dropdown-item ):hover {
	background-color: #f8f9fa;
}

#p-personal-label,
#p-views-label,
#pt-anontalk,
#pt-anoncontribs {
	display: none;
}

#p-banner {
	font-weight: bold;
}

#p-banner,
#p-banner:hover,
#p-banner:visited,
.mw-hamb {
	color: #fff;
}

a.dropdown-item:visited {
	color: #212529;
}

/* Sidebar menu
   ========================================================================== */

nav {
	padding-bottom: 2em;
}

#mw-navigation {
	border-right: 1px solid #e5e5e5;
}

#mw-navigation h2 {
	display: none;
}

#mw-navigation ul {
	margin: 0;
}

#mw-navigation li {
	list-style-type: none;
}

#mw-navigation a {
	display: block;
	padding: 0.2em 1em;
}

#mw-navigation a.nav-link.disabled {
	color: #444;
	margin-top: 1em;
	font-weight: bold;
}

#mw-navigation a:not( .disabled ) {
	color: #808080;
}

#mw-navigation a:not( .disabled ):hover {
	color: #444;
}

/* Aside (edit) menu
   ========================================================================== */

aside {
	display: inline-block;
	font-size: 0.9em;
	position: relative;
	z-index: 1000;
}

aside a:not( .disabled ) {
	color: #000;
}

#p-namespaces span {
	padding-right: 2em;
}

#p-namespaces .selected a {
	border-bottom: 3px solid var( --medik );
}

#p-namespaces .selected a:hover {
	text-decoration: none;
}

#p-namespaces-label {
	display: none;
}

/* Main content
   ========================================================================== */

#mw-main-container {
	background-color: #fff;
}

#siteNotice {
	font-size: 0.9em;
}

#content {
	padding: 1em 0 2em 0;
}

.mw-body-content {
	line-height: 1.5em;
}

.mw-body-content h1,
.firstHeading {
	font-size: 180%;
	word-wrap: break-word;
}

.mw-body-content h2 {
	font-size: 155%;
}

.toctitle h2 {
	font-size: inherit;
}

.mw-body-content h3 {
	font-size: 140%;
}

.mw-body-content h4 {
	font-size: 120%;
}

.mw-body-content h5 {
	font-size: 110%;
}

.mw-body-content h6 {
	font-size: 100%;
}

.mw-indicators {
	float: right;
	line-height: 1.6;
	font-size: 0.875em;
	position: relative;
	top: 1em;
	z-index: 1;
}

#mw-indicator-mw-helplink {
	display: none;
}

#firstHeading {
	overflow: visible;
}

#content a:visited,
#siteNotice a:visited {
	color: #007bff;
}

.mw-htmlform fieldset {
	padding: 1em;
}

.mw-htmlform legend {
	font-size: 100%;
	font-weight: bold;
}

#mw-upload-form td {
	vertical-align: top;
}

/* Editor
   ========================================================================== */

.oo-ui-windowManager {
	position: relative;
	z-index: 2000;
}

.oo-ui-widget[ role='listbox' ] {
	background-color: #fff;
	z-index: 2000;
}

.wikiEditor-ui-toolbar .page.page-characters div span {
	height: auto;
}

.ve-ui-overlay-global.ve-ui-overlay {
	z-index: 1001;
}

/* Footer
   ========================================================================== */

.mw-footer {
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
	color: #6c757d;
	font-size: 0.9em;
	padding: 4em 1em 1em;
}

.mw-footer a {
	color: #495057;
}

.mw-footer a:hover {
	color: #444;
}

.mw-footer li {
	display: inline;
	list-style-type: none;
}

.mw-footer li:not( :first-child )::before {
	content: ' ― ';
}
